@mixin position-middle {
  position: absolute;
  left: 50%;
  top: 50%;
  // vendors should be added with post processing,
  // like https://github.com/postcss/autoprefixer
  transform: translate(-50%, -50%);
}

.position-middle {
  @include position-middle;
}
